{%extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="modal fade" id="newClientModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{% url 'newClient' %}" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Nowy klient</h4>
				</div>
				<div class="modal-body">
					{% csrf_token %}
					{{ form|crispy }}
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-success" value="Dodaj" />
					<button type=button class="btn btn-default" data-dismiss="modal">Anuluj</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteClientModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Usunięcie danych klienta</h4>
			</div>
			<div class="modal-body">
				Czy jesteś pewien, że chcesz usunąć wszystkie dane klienta? 
			</div>
			<div class="modal-footer">
				<button type=button class="btn btn-default" data-dismiss="modal">Anuluj</button>
				<a id="deleteClientConfirmButton" class="btn btn-danger" href="#">Usuń</a>
			</div>
		</div>
	</div>
</div>

<div class="page-header">
    <h2>Lista klientów</h2>
    <button id="newClientButton" class="btn btn-success btn-lg" data-toogle="modal" data-target="#newClientModal"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Dodaj klienta</button>
</div>

<hr />

<table id="manageClientTable" class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Nazwisko i imię</th>
			<th>Kontakt</th>
			<th>Notatka</th>
			<th>Pojazdy</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
    {% for client in allClients %}
	    <tr>
		    <td>{{ client }}</td>
		    <td>{{ client.contact }}</td>
		    <td>{{ client.comment }}</td>
		    <td>
			    {% for vehicle in client.getVehicles %}
				    <a href="{% url 'infoVehicle' vehicle.id %}">{{ vehicle }} </a>
				    </br>
			    {% endfor %}
		    </td>
		    <td class="td-buttons">
			    <a class="btn btn-primary" href="{% url 'editClient' client.id %}"><i class="fa fa-pencil fa-lg"></i> Edytuj</a>
                <button class="deleteClientButton btn btn-danger" data-toogle="modal" data-target="#deleteClientModal" data-href="{% url 'delClient' client.id %}"><i class="fa fa-trash-o fa-lg"></i> Usuń</button>
		    </td>
	    </tr>
    {% endfor %}
    </tbody>
</table>

{% if showForm == True %}
    <script>
        showModal('#newClientModal');
    </script>
{% endif %}

{% endblock content %}
