{%extends 'app/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form action="newClient/" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type='submit' value="Dodaj" class="btn btn-success">
    <a class="btn btn-default" href="{% url 'home' %}">Anuluj</a>
</form>

{% endblock content %}
