{%extends 'app/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="page-header">
    <h2>Edycja klienta - {{ client.name }} {{ client.surname }}</h2>
</div>

<hr />

<form action="{% url 'editClient' client.id %}" method="post">
	{% csrf_token %}
	{{ form|crispy }}
	<input class="btn btn-success" type="submit" value="Zapisz"></input>
    <a class="btn btn-default" href="{% url 'manageClient' %}">Anuluj</a>
</form>

{% endblock content %}
