{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="modal fade" id="newDefaultRepairModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{% url 'newDefaultRepair' %}" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Nowa standardowa naprawa</h4>
				</div>
				<div class="modal-body">
					{% csrf_token %}
					{{ form|crispy }}
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-success" value="Dodaj" />
					<button type=button class="btn btn-default" data-dismiss="modal">Anuluj</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteDefaultRepairModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Usunięcie standardowej naprawy</h4>
			</div>
			<div class="modal-body">
				Czy jesteś pewien, że chcesz usunąć tę standardową naprawę? 
			</div>
			<div class="modal-footer">
				<button type=button class="btn btn-default" data-dismiss="modal">Anuluj</button>
				<a id="deleteDefaultRepairConfirmButton" class="btn btn-danger" href="#">Usuń</a>
			</div>
		</div>
	</div>
</div>

<div class="page-header">
    <h2>Lista standardowych usług</h2>
    <button id="newDefaultRepairButton" class="btn btn-success btn-lg" data-toogle="modal" data-target="#newDefaultRepairModal"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Dodaj naprawę</button>
</div>

<hr />

<table id="manageDefaultRepairTable" class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Nazwa</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
    {% for repair in allRepairs %}
        {% if repair.id == idRepair %}
		    <tr>
			    <form role="form" method="post" action="{% url 'editDefaultRepair' repair.id %}">
				    {% csrf_token %}
				    <td>{{ form.name }}</td>
				    <td class="td-buttons">
					    <input type="submit" class="btn btn-success" value="Zapisz" ></input>
					    <a class="btn btn-default" href="{% url 'manageDefaultRepair' %}">Anuluj</a>
				    </td>
			    </form>
		    </tr>
        {% else %}
	        <tr>
		        <td>{{ repair.name }}</td>
    		    <td class="td-buttons">
			        <a class="btn btn-primary" href="{% url 'manageDefaultRepair' repair.id %}"><i class="fa fa-pencil fa-lg"></i> Edytuj</a>
                    <button class="deleteDefaultRepairButton btn btn-danger" data-toogle="modal" data-target="#deleteDefaultRepairModal" data-href="{% url 'delDefaultRepair' repair.id %}"><i class="fa fa-trash-o fa-lg"></i> Usuń</button>
		        </td>
	        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

{% if showForm == True %}
    <script>
        showModal('#newDefaultRepairModal');
    </script>
{% endif %}

{% endblock content %}
