{%extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="modal fade" id="newVehicleModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{% url 'newVehicle' %}" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Nowy pojazd</h4>
				</div>
				<div class="modal-body">
					{% csrf_token %}
					{{ form|crispy }}
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-success" value="Dodaj" />
					<button type=button class="btn btn-default" data-dismiss="modal">Anuluj</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="page-header">
    <h2>Lista pojazdów</h2>
    <button id="newVehicleButton" class="btn btn-success btn-lg" data-toogle="modal" data-target="#newVehicleModal"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Dodaj pojazd</button>
</div>

<hr />

<table id="indexTable" class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Właściciel</th>
			<th>Numer rejestracyjny</th>
			<th>Marka</th>
			<th>Model</th>
			<th>Silnik</th>
			<th>Rok</th>
			<th>Przebieg [km]</th>
			<th>Numer VIN</th>
		</tr>
	</thead>
	<tbody>
    {% for vehicle in allVehicles %}
        <tr data-href="{% url 'infoVehicle' vehicle.id %}" class="tr-link">
	        <td>{% for owner in vehicle.owners.all %}{{ owner }}<br/>{% endfor %}</td>
	        <td>{{ vehicle.registrationNumber }}&nbsp;
                {% if vehicle.checkOilByMileage != None %} 
                    <span class="label label-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                {% endif %}
            </td>
	        <td>{{ vehicle.make }}</td>
	        <td>{{ vehicle.model }}</td>
	        <td>{{ vehicle.engine }}</td>
	        <td>{{ vehicle.productionYear }}</td>
	        <td>{{ vehicle.getMileage }}</td>
	        <td>{{ vehicle.vinNumber }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if showForm == True %}
    <script>
        showModal('#newVehicleModal');
    </script>
{% endif %}

{% endblock content %}
