﻿{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-multiselect.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
            td {
              padding: 0 10px 10px 0;
              line-height: 1.6 !important;
            }
            .tr-link {
              cursor: pointer;
            }
            .td-buttons {
                text-align: right;
            }
            input#id_registrationNumber, input#id_vinNumber { 
                text-transform: uppercase;
            }
            input[type=search] { 
                display: inline !important;
                width: inherit !important;
            }
            div.dataTables_length select { 
                display: inline !important;
                width: inherit !important;
            }
            .span-login {
                color: white;
                margin-right: 15px;
            }
            .page-header > button, .page-header > a {
                float: right;
                margin-left: 10px;
            }
            .page-header > h2, .page-header > h3 {
                display: inline-block;
            }
        </style>

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap-multiselect.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap-datepicker.pl.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript">
            function showModal(modalID) {
                $(modalID).modal('show');
            }
        </script>



    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">MGService</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'home' %}">Pojazdy</a>
                </li>
                <li><a href="{% url 'newVehicle' %}"><i class="fa fa-car" aria-hidden="true"></i><i class="fa fa-plus" aria-hidden="true"></i></a>
                </li>
                <li><a href="{% url 'manageClient' %}">Klienci</a>
                </li>
                <li><a href="{% url 'newClient' %}"><i class="fa fa-user" aria-hidden="true"></i><i class="fa fa-plus" aria-hidden="true"></i></a>
                </li>
                <li><a href="{% url 'manageDefaultRepair' %}">Usługi</a>
                </li>
                <li><a href="#"><i class="fa fa-wrench" aria-hidden="true"></i><i class="fa fa-plus" aria-hidden="true"></i></a>
                </li>
            </ul>
          {% if user.is_authenticated %}
            <form class="navbar-form navbar-right" role="form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <div class="form-group">
                <span class="span-login">Zalogowany jako: {{user.username}} </span>
              </div>
              <input type="hidden" name="next" value={{next}} />
              <button type="submit" class="btn btn-success" value="sign-in" >Wyloguj</button>
            </form>
          {%  else %}
            <form class="navbar-form navbar-right" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" placeholder="Email" class="form-control" name="username" id="id_username">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" name="password" id="id_password" maxlength="30">
              </div>
              <input type="hidden" name="next" value={{next}} />
              <button type="submit" class="btn btn-success" value="sign-in" >Zaloguj</button>
            </form>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">

          {% block content %}
          {% endblock content %}

        </div>
      </div>

      <hr>

      <footer class="container">
        <div class="row">
          <p>&copy; MGService 2016</p>
        </div>
      </footer>
    </div> <!-- /container -->        
        
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="{% static 'js/main.js' %}"></script>


<!-- ===================== moje skrypty================================== -->
<script>
    var dataTablesGlossary = {
        "processing": "Przetwarzanie...",
        "search": "Szukaj:",
        "lengthMenu": "Pokaż _MENU_ pozycji",
        "info": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
        "infoEmpty": "Pozycji 0 z 0 dostępnych",
        "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
        "infoPostFix": "",
        "loadingRecords": "Wczytywanie...",
        "zeroRecords": "Nie znaleziono pasujących pozycji",
        "emptyTable": "Brak danych",
        "paginate": {
            "first": "Pierwsza",
            "previous": "Poprzednia",
            "next": "Następna",
            "last": "Ostatnia"
        },
        "aria": {
            "sortAscending": ": aktywuj, by posortować kolumnę rosnąco",
            "sortDescending": ": aktywuj, by posortować kolumnę malejąco"
        }
    }

  $(document).ready(function(){
    $('#indexTable').dataTable({
        "language": dataTablesGlossary,
        "pageLength": 25
    });

    $('#indexTable tr[data-href]').on("click", function() {
        document.location = $(this).data('href');
    });

    $('#infoVehicleTable').dataTable({
        "ordering": false,
        "language": dataTablesGlossary,
        "pageLength": 25
    });

    $('#manageClientTable').dataTable({
        "language": dataTablesGlossary,
        "pageLength": 25
    });

    $('#manageDefaultRepairTable').dataTable({
        "language": dataTablesGlossary,
        "ordering": false,
        "pageLength": 25
    });

    $('input[type=search]').addClass('textinput form-control');
    $('div.dataTables_length select').addClass('form-control');

    
    var multiselectOptions = {
        buttonWidth: '100%',
        enableFiltering: true,
        filterPlaceholder: 'Szukaj...',
        nonSelectedText: 'Wybierz',
        nSelectedText: ' wybranych opcji',
        numberDisplayed: 10
    }
    $('#id_owners').multiselect(multiselectOptions);
    $('#id_doneDefaultRepairs').multiselect(multiselectOptions);

    $('#id_date').datepicker({
        format: "dd.mm.yyyy",
        endDate: "0d",
        maxViewMode: 2,
        todayBtn: "linked",
        language: "pl",
        orientation: "bottom auto",
        autoclose: true,
        todayHighlight: true
    });

  });

$(".doneOtherRepairsDiv").each(function () {
    var text = $(this).html().replace("\n", "<br>");
    $(this).html(text);
});

$('#newRepairButton').on('click', function(){
    $('#newRepairModal').modal();
});

$('#newDefaultRepairButton').on('click', function(){
    $('#newDefaultRepairModal').modal();
});

$('#newClientButton').on('click', function(){
    $('#newClientModal').modal();
});

$('#newVehicleButton').on('click', function () {
    $('#newVehicleModal').modal();
});

$('#deleteVehicleButton').on('click', function () {
    $('#deleteVehicleModal').modal();
});

$('.deleteRepairButton').on('click', function () {
    $('#deleteRepairModal').modal();
    var newHref = $(this).data('href');
    $('#deleteRepairConfirmButton').attr('href', newHref);
});

$('.deleteDefaultRepairButton').on('click', function () {
    $('#deleteDefaultRepairModal').modal();
    var newHref = $(this).data('href');
    $('#deleteDefaultRepairConfirmButton').attr('href', newHref);
});

$('.deleteClientButton').on('click', function () {
    $('#deleteClientModal').modal();
    var newHref = $(this).data('href');
    $('#deleteClientConfirmButton').attr('href', newHref);
});

function showModal(modalID) {
    $(modalID).modal({ show: true });
}

</script>

    </body>
</html>
