{%extends 'app/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="page-header">
    <h2>Edycja wpisu naprawy - {{ repair.vehicle }}</h2>
</div>

<hr />

<form action="{% url 'editRepair' repair.id %}" method="post">
	{% csrf_token %}
	{{ form|crispy }}
	<input class="btn btn-success" type="submit" value="Zapisz"></input>
    <a class="btn btn-default" href="{% url 'infoVehicle' repair.vehicle.id %}">Anuluj</a>
</form>

{% endblock content %}
