{%extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="modal fade" id="newRepairModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{% url 'newRepair' vehicle.id %}" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Nowy wpis w karcie pojazdu</h4>
				</div>
				<div class="modal-body">
				    {% csrf_token %}
					{{ form|crispy }}
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-success" value="Dodaj" />
					<button type=button class="btn btn-default" data-dismiss="modal">Anuluj</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteRepairModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Usunięcie wpisu naprawy</h4>
			</div>
			<div class="modal-body">
				Czy jesteś pewien, że chcesz usunąć ten wpis? 
			</div>
			<div class="modal-footer">
				<button type=button class="btn btn-default" data-dismiss="modal">Anuluj</button>
				<a id="deleteRepairConfirmButton" class="btn btn-danger" href="#">Usuń</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteVehicleModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header modal-header-danger">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Usunięcie pojazdu {{ vehicle.getFullName}}</h4>
			</div>
			<div class="modal-body">
				Czy jesteś pewien, że chcesz usunąć pojazd? 
			</div>
			<div class="modal-footer">
				<button type=button class="btn btn-default" data-dismiss="modal">Anuluj</button>
				<a class="btn btn-danger" href="{% url 'delVehicle' vehicle.id %}">Usuń</a>
			</div>
		</div>
	</div>
</div>

<div class="page-header">
    <h2>{{vehicle}}</h2>
    <button id="deleteVehicleButton" class="btn btn-danger btn-lg" data-toogle="modal" data-target="#deleteVehicleModal"><i class="fa fa-trash fa-lg" aria-hidden="true"></i> Usuń pojazd</button>
    <a class="btn btn-warning btn-lg" href="{% url 'editVehicle' vehicle.id %}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i> Edytuj pojazd</a>
    
    <hr />

    <table class="table">
	    <thead>
		    <tr>
			    <th>Silnik</th>
			    <th>Rocznik</th>
			    <th>Numer VIN</th>
			    <th>Przebieg</th>
			    <th>Właściciel</th>
		    </tr>
	    </thead>
	    <tbody>
            <tr>
	            <td>{{ vehicle.engine }}
	            <td>{{ vehicle.productionYear }}</td>
	            <td>{{ vehicle.vinNumber }}</td>
	            <td>{{ vehicle.getMileage }} km</td>
	            <td>
                    {% for owner in vehicle.owners.all %}
                        {{ owner }}
                        {% if owner.contact %} 
                            ({{ owner.contact }})
                        {% else %}
                            (brak kontaktu)
                        {% endif %}
                        <br/>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    
    
    
    
    <!--<table class="table">
        <tr>
            <td>Numer rejestracyjny:</td>
            <td><strong>{{vehicle.registrationNumber}}</strong></td>
        </tr>
        <tr>
            <td>Numer VIN:</td>
            <td><strong>{{vehicle.vinNumber}}</strong></td>
        </tr>
        <tr>
            <td>Rocznik:</td>
            <td><strong>{{vehicle.productionYear}}</strong></td>
        </tr>
        <tr>
            <td>Przebieg:</td>
            <td><strong>{{vehicle.getMileage}} km</strong></td>
        </tr>
        <tr>
            <td>Właściciel:</td>
            <td><strong>{% for owner in vehicle.owners.all %}{{ owner }} ({{ owner.contact }})<br />{% endfor %}</strong></td>
        </tr>
    </table>
    
    
    <ul class="list-group">
        <li class="list-group-item">Numer rejestracyjny: <strong>{{vehicle.registrationNumber}}</strong></li>
        <li class="list-group-item">Numer VIN: <strong>{{vehicle.vinNumber}}</strong></li>
        <li class="list-group-item">Rocznik: <strong>{{vehicle.productionYear}}</strong></li>
        <li class="list-group-item">Przebieg: <strong>{{ vehicle.getMileage }} km</strong></li>
        <li class="list-group-item">Właściciel: <strong>{% for owner in vehicle.owners.all %}{{ owner }} ({{ owner.contact }}){% endfor %}</strong></li>
    </ul>
</div>-->

<hr />

{% if vehicle.checkOilByDate != None %}
	<div class="alert alert-danger" role="alert">Minął ponad rok od ostatniej wymiany oleju! Ostatnia wymiana oleju miała miejsce <strong>{{ vehicle.checkOilByDate }}</strong>!</div>
    <hr />
{% endif %}

{% if vehicle.checkOilByMileage != None %}
	<div class="alert alert-danger" role="alert">Pojazd przejechał już ponad <strong>{{ vehicle.checkOilByMileage }} km</strong> od czasu ostatniej wymiany oleju!</div>
    <hr />
{% endif %}

<div class="page-header">
    <h3>Dziennik napraw</h3>
    <button id="newRepairButton" class="btn btn-success btn-lg" data-toogle="modal" data-target="#newRepairModal"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Dodaj wpis</button>
</div>

<hr />

<table id="infoVehicleTable" class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Data</th>
			<th>Przebieg [km]</th>
			<th>Wykonane naprawy</th>
			<th>Komentarz</th>
			<!--<th>Zdjęcia</th>-->
			<th></th>
		</tr>
	</thead>
	<tbody>
    {% for repair in repairs %}
        <tr>
            <td>{{ repair.date }}</td>
            <td>{{ repair.mileage }}</td>
            <td>
	            {% for doneDefaultRepair in repair.doneDefaultRepairs.all %}
		            {{ doneDefaultRepair }}
		            <br/>
	            {% endfor %}
	            <div class="doneOtherRepairsDiv">{{ repair.doneOtherRepairs }}</div>
            </td>
            <td>{{ repair.comment }}</td>
            <!--<td>{{ repair.image }}</td>-->
		    <td class="td-buttons">
                <a class="btn btn-success" href="{% url 'pdfRepair' repair.id %}"><i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> Generuj PDF</a>
	            <a class="btn btn-primary" href="{% url 'editRepair' repair.id %}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i> Edytuj</a>
                <button class="deleteRepairButton btn btn-danger" data-toogle="modal" data-target="#deleteRepairModal" data-href="{% url 'delRepair' repair.id %}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i>Usuń</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if showForm == True %}
    <script>
        showModal('#newRepairModal');
    </script>
{% endif %}

{% endblock content %}
