<html>
<head>
	<title>Login</title>
</head>
<body>
{% if forms.errors %}
	<p>Nie można zalogowac</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login'%}">
	{% csrf_token %}
	{{form.username.label_tag}}
	{{ form.username }}

</br>

{{ form.password.label_tag }}
{{ form.password }}

<input type="submit" value="sign-in" />
<input type="hidden" name="next" value={{next}} />
</body>
</html>
